@mixin mask-icon($url) {
  -webkit-mask-image: url($url);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask-image: url($url);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

@mixin bg-icon($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
